@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section Header{

}

<div class="layui-row layui-col-space10">
    <div class="layui-col-xs4">
        <div class="layui-card">
            <div class="layui-card-header" style="height:auto;">
                字典分类
                <input type="text" class="layui-input" id="keyword" placeholder="请输入编码/名称" />
            </div>
            <div class="layui-card-body">
                <div id="treeDataitem" lay-filter="treeDataitem" style="width:100%;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs8">
        <div class="layui-card">
            <div class="layui-card-header">字典数据<span id="show"> - 全部</span></div>
            <div class="layui-card-body">
                <table id="grid"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/SystemModule/Views/Dataitem/DataitemSelectForm.js")
}
