
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section Header{
    <link href="~/lib/split-pane/split-pane.css" rel="stylesheet" />
}

<div class="layui-row layui-col-space10">
    <div class="split-pane fixed-left">
        <div class="split-pane-component" style=" width: 20em;">
            <div class="layui-card">
                <div class="layui-card-header">公司</div>
                <div class="layui-card-body">
                    <div id="treeCompany" lay-filter="treeCompany" style="width:100%;"></div>
                </div>
            </div>
        </div>
        <div class="split-pane-divider" style="left: 20em;  width: 5px;"></div>
        <div class="split-pane-component" style=" left: 20em;  margin-left: 5px; ">
            <div class="layui-card">
                <div class="layui-card-header">部门<span id="company"> - 全部</span></div>
                <div class="layui-card-body">
                    <div class="layui-row index-header">
                        <div class="pull-left">
                            <div class="layui-btn-group">
                                <button type="button" id="searchfilter" class="layui-btn layui-btn-sm">
                                    <i class="fa fa-filter"></i>
                                    筛选
                                </button>
                                <button type="button" id="reset" class="layui-btn layui-btn-sm">
                                    <i class="layui-icon layui-icon-refresh-1"></i>
                                    重置
                                </button>
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="layui-btn-group">
                                <button type="button" id="add" class="layui-btn layui-btn-sm"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                <button type="button" id="edit" class="layui-btn layui-btn-sm"><i class="fa fa-pencil"></i>&nbsp;编辑/查看</button>
                                <button type="button" id="delete" class="layui-btn layui-btn-sm"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                            </div>
                            <div class="layui-btn-group">
                                <button type="button" id="manager" class="layui-btn layui-btn-sm"><i class="fa fa-user-plus"></i>&nbsp;设置分管</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <table id="grid"></table>
                        <div id="gridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    <script src="~/lib/split-pane/split-pane.js"></script>
    @Html.AppendJs("~/Areas/OrganizationModule/Views/Department/Index.js")
}

