
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Header{

}
<div lay-filter="Approve">
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">审批结果</label>
        <div class="layui-input-block">
            <input name="result" type="radio" class="layui-input" title="通过" value="1" checked />
            <input name="result" type="radio" class="layui-input" title="驳回" value="2" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">审批意见</label>
        <div class="layui-input-block">
            <textarea id="opinion" class="layui-textarea" rows="8"></textarea>
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/WorkflowModule/Views/Task/ApproveForm.js")
}
