
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Header{

}
<div lay-filter="Read">
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">意见</label>
        <div class="layui-input-block">
            <textarea id="opinion" class="layui-textarea" rows="8"></textarea>
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/WorkflowModule/Views/Task/ReadForm.js")
}
