
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@section Header{

}
<div lay-filter="User">
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input id="loginname" type="text" class="layui-input" lay-verify="required" autocomplete="new-password" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input id="loginpassword" type="password" class="layui-input" lay-verify="required" autocomplete="new-password" />
        </div>
    </div>
    <div class="form-item layui-col-xs6 ">
        <label class="layui-form-label">所在公司</label>
        <div class="layui-input-block">
            <div id="company_id" class="xm-select" lay-verify="required"></div>
        </div>
    </div>
    <div class="form-item layui-col-xs6 ">
        <label class="layui-form-label">所在部门</label>
        <div class="layui-input-block">
            <div id="department_id" class="xm-select" lay-verify="required"></div>
        </div>
    </div>
    <div class="form-item layui-col-xs6 ">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input id="realname" type="text" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs6 ">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input id="nickname" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">工号</label>
        <div class="layui-input-block">
            <input id="usercode" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs6 ">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <div id="sex" class="xm-select" luckyu-type="dataitem" luckyu-code="sex"></div>
        </div>
    </div>

    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input id="mobile" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-block">
            <input id="email" type="text" class="layui-input" lay-verify="email" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">出生年月</label>
        <div class="layui-input-block">
            <input id="birthday" type="text" class="layui-input Wdate" onfocus="WdatePicker()" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block">
            <input id="qq" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input id="remark" type="text" class="layui-input" lay-verify="number" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input id="sort" type="text" class="layui-input" lay-verify="number" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <div class="layui-input-block">
            <input type="checkbox" id="is_enable" lay-skin="switch" lay-text="有效|无效" checked />
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/OrganizationModule/Views/User/Form.js")
}


