
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section Header{

}
<div class="layui-row layui-col-space10">
    <div class="layui-col-xs2">
        <div class="layui-card">
            <div class="layui-card-header">公司部门</div>
            <div class="layui-card-body">
                <div id="treeCompany" lay-filter="treeCompany" style="width:100%;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs10">
        <div class="layui-card">
            <div class="layui-card-header">部门<span id="company"> - 全部</span></div>
            <div class="layui-card-body">
                <div class="layui-row index-header">
                    <div class="pull-left">
                        <div class="layui-btn-group">
                            <button type="button" id="searchfilter" class="layui-btn layui-btn-sm">
                                <i class="fa fa-filter"></i>
                                筛选
                            </button>
                            <button type="button" id="reset" class="layui-btn layui-btn-sm">
                                <i class="layui-icon layui-icon-refresh-1"></i>
                                重置
                            </button>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="layui-btn-group">
                            <button type="button" id="add" class="layui-btn layui-btn-sm"><i class="fa fa-plus"></i>&nbsp;新增</button>
                            <button type="button" id="edit" class="layui-btn layui-btn-sm"><i class="fa fa-pencil"></i>&nbsp;编辑/查看</button>
                            <button type="button" id="delete" class="layui-btn layui-btn-sm"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                        </div>
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                更多 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:;" id="setmodule">功能授权</a></li>
                                <li><a href="javascript:;" id="setrole">设置角色</a></li>
                                <li><a href="javascript:;" id="setpost">设置岗位</a></li>
                                <li><a href="javascript:;" id="setgroup">设置小组</a></li>
                                <li><a href="javascript:;" id="setmanager">设置分管部门</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:;" id="modifypwd">修改密码</a></li>
                                <li><a href="javascript:;" id="setonoff">禁用/启用账户</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <table id="grid"></table>
                    <div id="gridPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/OrganizationModule/Views/User/Index.js")
}

