<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="D:\MyProject\OpenSource\LuckyuWeb\Log\internal.log"
      internalLogLevel="Info" >

  <variable name="logDirectory" value="D:\MyProject\OpenSource\LuckyuWeb\Log"/>
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="ErrorTarget" fileName="${logDirectory}\Error\Error-${shortdate}.log" archiveAboveSize="1024000"  maxArchiveDays="60"
            layout="${newline}=======================${newline}${level:uppercase=true} | ${date} | ${logger} ${newline}MESSAGE ${newline} ${message} ${newline}======================="/>
    <target xsi:type="File" name="InfoTarget" fileName="${logDirectory}\Info\Info-${shortdate}.log" archiveAboveSize="1024000"  maxArchiveDays="60"
            layout="${newline}=======================${newline}${level:uppercase=true} | ${date} | ${logger} ${newline}MESSAGE ${newline} ${message} ${newline}======================="/>
    <target xsi:type="File" name="DebugTarget" fileName="${logDirectory}\Debug\Debug-${shortdate}.log" archiveAboveSize="1024000" maxArchiveDays="60"
            layout="${newline}=======================${newline}${level:uppercase=true} | ${date} | ${logger} ${newline}MESSAGE ${newline} ${message} ${newline}======================" />
    <target xsi:type="File" name="AllTarget" fileName="${logDirectory}\All\All-${shortdate}.log" archiveAboveSize="1024000" maxArchiveDays="60"
            layout="${newline}=======================${newline}${level:uppercase=true} | ${date} | ${logger} ${newline}MESSAGE ${newline} ${message} ${newline}=======================" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Error" writeTo="ErrorTarget" />
    <logger name="*" level="Info" writeTo="InfoTarget" />
    <logger name="*" level="Debug" writeTo="DebugTarget" />
    <logger name="*" minlevel="Trace" writeTo="AllTarget" />
  </rules>
</nlog>