
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Header{

}
<div lay-filter="Post">
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">岗位编码</label>
        <div class="layui-input-block">
            <input id="postcode" type="text" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">岗位名称</label>
        <div class="layui-input-block">
            <input id="postname" type="text" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input id="remark" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input id="sort" type="text" class="layui-input" lay-verify="number" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <div class="layui-input-block">
            <input type="checkbox" id="is_enable" title="是否有效" checked />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <div class="layui-input-block">
            <input type="checkbox" id="is_default" title="是否默认" />
        </div>
    </div>

</div>

@section Footer{
    @Html.AppendJs("~/Areas/OrganizationModule/Views/Post/Form.js")
}
