
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section Header{

}
<div class="formbackgroud">
    <div class="layui-row index-header">
        <div class="pull-left">
            <div class="layui-btn-group">
                <button type="button" id="searchfilter" class="layui-btn layui-btn-sm">
                    <i class="fa fa-filter"></i>
                    筛选
                </button>
                <button type="button" id="reset" class="layui-btn layui-btn-sm">
                    <i class="layui-icon layui-icon-refresh-1"></i>
                    重置
                </button>
            </div>
        </div>

        <div class="pull-right">
            <div class="layui-btn-group">
                <button type="button" id="add" class="layui-btn layui-btn-sm"><i class="fa fa-plus"></i>&nbsp;新增</button>
                <button type="button" id="edit" class="layui-btn layui-btn-sm"><i class="fa fa-pencil"></i>&nbsp;编辑/查看</button>
                <button type="button" id="delete" class="layui-btn layui-btn-sm"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table id="grid"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/WorkflowModule/Views/Designer/Index.js")
}

