
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@section Header{
    <style>
        textarea {
            font-size: 15px;
        }
    </style>
}

<div class="layui-tab layui-tab-brief" style="margin: 0;" id="NodeForm">
    <ul class="layui-tab-title">
        <li class="layui-this">基本信息</li>
        <li id="tabUser" style="display:none;">审批人</li>
        <li id="tabForm" style="display:none;">表单</li>
        <li id="tabSQLSuccess" style="display:none;">通过执行SQL</li>
        <li id="tabSQLFail" style="display:none;">退回执行SQL</li>
        <li id="tabProgram" style="display:none;">执行程序</li>
        <li id="tabSQLCondition" style="display:none;">SQL条件</li>
    </ul>
    <div class="layui-tab-content">
        <!--基本信息-->
        <div class="layui-tab-item layui-show">
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">节点编码</label>
                <div class="layui-input-block">
                    <input id="code" type="text" class="layui-input" />
                </div>
            </div>
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">节点名称</label>
                <div class="layui-input-block">
                    <input id="name" type="text" class="layui-input" />
                </div>
            </div>
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">超时选项</label>
                <div class="layui-input-block">
                    <input type="radio" name="timeout_type" lay-filter="timeout_type" title="默认" value="0" checked />
                    <input type="radio" name="timeout_type" lay-filter="timeout_type" title="超时通过" value="1" />
                    <input type="radio" name="timeout_type" lay-filter="timeout_type" title="超时退回起草" value="2" />
                    <input type="radio" name="timeout_type" lay-filter="timeout_type" title="超时通过上一步" value="3" />
                </div>
            </div>
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">超时时间(小时)</label>
                <div class="layui-input-block">
                    <input id="timeout" type="text" class="layui-input" lay-verify="number" />
                </div>
            </div>

            <div id="divStep" style="display:none;">
                <div class="layui-col-xs12 form-item">
                    <div class="layui-input-block">
                        <input type="checkbox" id="autoskip" title="相同审批人自动跳过" lay-skin="primary" checked />
                    </div>
                </div>
                <div class="layui-col-xs12 form-item">
                    <label class="layui-form-label">节点可选择</label>
                    <div class="layui-input-block">
                        <input type="radio" name="comfirm_node" title="默认" value="0" checked />
                        <input type="radio" name="comfirm_node" title="可选" value="1" />
                        <input type="radio" name="comfirm_node" title="单选(同一层级有一个单选，则全部单选)" value="2" />
                    </div>
                </div>
                <div class="layui-col-xs12 form-item">
                    <label class="layui-form-label">用户可选择</label>
                    <div class="layui-input-block">
                        <input type="radio" name="comfirm_user" title="默认" value="0" checked />
                        <input type="radio" name="comfirm_user" title="多选" value="1" />
                        <input type="radio" name="comfirm_user" title="单选(只能选一个用户)" value="2" />
                    </div>
                </div>
            </div>

            <div id="divConfluence" style="display:none;">
                <div class="layui-col-xs12 form-item">
                    <label class="layui-form-label">会签类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="confluence_type" lay-filter="confluence_type" title="全部通过" value="1" checked />
                        <input type="radio" name="confluence_type" lay-filter="confluence_type" title="任意一人通过" value="2" />
                        <input type="radio" name="confluence_type" lay-filter="confluence_type" title="按比例通过" value="3" />
                    </div>
                </div>
                <div class="layui-col-xs12 form-item" id="divconfluence_rate">
                    <label class="layui-form-label">会签比例(%)</label>
                    <div class="layui-input-block inputselect">
                        <input id="confluence_rate" type="text" class="layui-input" lay-verify="number" />
                        <span class="luckyu-input-button">%</span>
                    </div>
                </div>
            </div>
        </div>
        <!--审批人-->
        <div class="layui-tab-item">
            <div class="layui-col-xs12">
                <div class="layui-btn-group">
                    <button type="button" id="addRow" class="layui-btn layui-btn-sm layui-btn-normal">
                        新增行
                    </button>
                    <button type="button" id="deleteRow" class="layui-btn layui-btn-sm layui-btn-normal">
                        删除行
                    </button>
                </div>
            </div>
            <div class="layui-col-xs12">
                <table id="gridUser"></table>
            </div>
        </div>
        <!--表单-->
        <div class="layui-tab-item">
            <div class="layui-col-xs12">
                <div class="layui-btn-group">
                    <button type="button" id="addRowf" class="layui-btn layui-btn-sm layui-btn-normal">
                        新增行
                    </button>
                    <button type="button" id="deleteRowf" class="layui-btn layui-btn-sm layui-btn-normal">
                        删除行
                    </button>
                </div>
            </div>
            <div class="layui-col-xs12">
                <table id="gridForm"></table>
            </div>
        </div>
        <!--通过SQL-->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
                单据ID请用 @@processId 替代；<br />
                当前审批人ID请用 @@userId 替代；当前审批人用户名请用 @@userCode 替代；当前审批人姓名请用 @@userName 替代
            </blockquote>
            <textarea id="sqlsuccess" class="layui-textarea" rows="8"></textarea>
        </div>
        <!--退回SQL-->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
                单据ID请用 @@processId 替代；<br />
                当前审批人ID请用 @@userId 替代；当前审批人用户名请用 @@userCode 替代；当前审批人姓名请用 @@userName 替代
            </blockquote>
            <textarea id="sqlfail" class="layui-textarea" rows="8"></textarea>
        </div>
        <!--执行程序-->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">依赖注入程序模块 </blockquote>
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">程序集</label>
                <div class="layui-input-block">
                    <input id="injectassembly" type="text" class="layui-input" />
                </div>
            </div>
            <div class="layui-col-xs12 form-item">
                <label class="layui-form-label">类名</label>
                <div class="layui-input-block">
                    <input id="injectclass" type="text" class="layui-input" />
                </div>
            </div>
        </div>
        <!--SQL条件-->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
                单据ID请用 @@processId 替代；<br />
                当前审批人ID请用 @@userId 替代；当前审批人用户名请用 @@userCode 替代；当前审批人姓名请用 @@userName 替代
            </blockquote>
            <textarea id="sqlcondition" class="layui-textarea" rows="8"></textarea>
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/WorkflowModule/Views/Designer/NodeForm.js")
}
