
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label"><i class="redstart">*</i>原密码</label>
        <div class="layui-input-block">
            <input id="OldPassword" type="password" class="layui-input"  lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label"><i class="redstart">*</i>新密码</label>
        <div class="layui-input-block">
            <input id="Password" type="password" class="layui-input"  lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label"><i class="redstart">*</i>重复密码</label>
        <div class="layui-input-block">
            <input id="Password1" type="password" class="layui-input"  lay-verify="required" />
        </div>
    </div>
</div>

@section Footer{
    <script src="~/lib/jquery/jquery.md5.min.js"></script>
    @Html.AppendJs("~/Views/Home/ModifyPwdSelf.js")
}

