
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Header{

}
<div lay-filter="Module">
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">菜单编码</label>
        <div class="layui-input-block">
            <input id="modulecode" type="text" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input id="modulename" type="text" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <div id="parent_id" class="xm-select"></div>
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <input id="moduleicon" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input id="moduleurl" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input id="remark" type="text" class="layui-input" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input id="sort" type="text" class="layui-input" lay-verify="number" />
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <div class="layui-input-block">
            <input type="checkbox" id="is_enable" lay-skin="switch" lay-text="有效|无效" checked />
        </div>
    </div>

</div>

@section Footer{
    @Html.AppendJs("~/Areas/OrganizationModule/Views/Module/Form.js")
}
