
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@section Header{

}

<div lay-filter="Delegate">
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">委托人</label>
        <div class="layui-input-block">
            <input id="username" type="text" class="layui-input" readonly />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">被委托人</label>
        <div class="layui-input-block inputselect">
            <input id="to_username" type="text" class="layui-input" lay-verify="required" readonly />
            <input id="to_user_id" type="hidden" />
            <span id="touserSelect" class="luckyu-input-button" title="选取">...</span>
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input id="starttime" type="text" class="layui-input Wdate" lay-verify="required" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
        </div>
    </div>
    <div class="form-item layui-col-xs6">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <input id="endtime" type="text" class="layui-input Wdate" lay-verify="required" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
        </div>
    </div>

    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">流程类型</label>
        <div class="layui-input-block">
            <div id="flowcode" class="xm-select" lay-verify="required" ></div>
        </div>
    </div>
    <div class="form-item layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input id="remark" type="text" class="layui-input" />
        </div>
    </div>

    <div class="form-item layui-col-xs12">
        <div class="layui-input-block">
            <input type="checkbox" id="is_enable" lay-skin="switch" lay-text="有效|无效" checked />
        </div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/WorkflowModule/Views/Delegate/Form.js")
}


