
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="formbackgroud">
    <div class="layui-row index-header">
        <div class="pull-left">

        </div>
    </div>
    <div class="layui-row">
        <table id="grid"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/SystemModule/Views/Message/ShowIndex.js")
}

