@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<style>
    .bui-stepbar-cell .bui-stepbar-text h3 {
        padding-bottom: 0.1rem;
        margin-bottom: 0.2rem !important;
    }

    .section-title {
        font-weight: bold;
        background-color: rgb(243, 245, 248);
    }

    .layui-card-header {
        font-weight: bold;
    }

    .layui-card {
        border-bottom: 2px double lightgray;
    }

    #opinion {
        font-size: large;
    }
</style>

<div class="bui-page bui-box-vertical">
    <header>
        <div class="bui-bar">
            <div class="bui-bar-left">
                <div class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></div>
            </div>
            <div class="bui-bar-main" id="divHeader">
            </div>
            <div class="bui-bar-right">
                <div class="bui-btn" id="approve" style="font-weight:bold;display:none;"><i class="icon-check"></i></div>
                <div class="bui-btn" id="read" style="font-weight:bold;display:none;"><i class="icon-check"></i></div>
            </div>
        </div>
    </header>
    <main>
        <div id="tabFoot" class="bui-tab bui-box-vertical">
            <div class="bui-tab-main">
                <ul>
                    <li>
                        <div id="tabForm" class="bui-tab bui-box-vertical">
                            <div class="bui-tab-head">
                                <ul class="bui-nav" id="iframeNav">
                                </ul>
                            </div>
                            <div class="bui-tab-main">
                                <ul id="ulForm">
                                </ul>
                            </div>
                        </div>

                    </li>
                    <li style="display: none;">
                        <div class="section-title">流程日志</div>
                        <div id="step" class="bui-stepbar">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <ul id="tabFootNav" class="bui-nav">
            <li class="bui-btn bui-box-vertical active">
                <i class="fa fa-keyboard-o"></i>
                <div class="span1">表单</div>
            </li>
            <li class="bui-btn bui-box-vertical">
                <i class="fa fa-code-fork"></i>
                <div class="span1">流程</div>
            </li>
        </ul>
    </footer>
</div>


<!-- 底部弹出框	 -->
<div id="dialogDown" class="bui-dialog" style="display: none;">
    <div class="bui-dialog-head">流程提交</div>
    <div class="bui-dialog-main">
        <div class="bui-fluid" id="appform">
            <div id="divHelp" class="span12">
                <div class="span12" style="margin-top:5px;">
                    <div class="bui-box-space">
                        <div class="span1" id="btnHelpme">
                            <div class="bui-btn primary reverse round">转发查看</div>
                        </div>
                        <div class="span1" id="btnAddUser">
                            <div class="bui-btn primary reverse round">会签办理</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--下一步流程-->
            <div id="divNext" class="span12" style="display:none;">
                <ul class="bui-list" id="ulNext">
                </ul>
            </div>

            <div class="span12" id="divAppResult" style="display:none;">
                <div class="section-title">审批结果</div>
                <div class="bui-fluid-space-3">
                    <div class="span1">
                        <input type="radio" class="bui-check" name="result" value="1" uncheck="通过" check="通过" checked />
                    </div>
                    <div class="span1">
                        <input type="radio" class="bui-check" name="result" value="2" uncheck="退回" check="退回" />
                    </div>
                    <div class="span1">
                        <input type="radio" class="bui-check" name="result" value="3" uncheck="退回上一步" check="退回上一步" />
                    </div>
                </div>
            </div>

            <div class="span12">
                <div class="section-title">意见</div>
                <div class="bui-input" style="border-bottom: 1px solid #eee;">
                    <textarea placeholder="请输入...." id="opinion" rows="4"></textarea>
                </div>
            </div>
            <div class="span12">
                <div id="buiPhoto" class="bui-upload bui-fluid-space-4">
                    <div class="span1">
                        <div id="btnUpload" class="bui-btn">
                            <i class="icon-plus large"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bui-dialog-foot">
        <div class="bui-box">
            <div class="span1">
                <div class="bui-btn" id="btnCancel">取消</div>
            </div>
            <div class="span1">
                <div class="bui-btn blue" id="btnOK">确定</div>
            </div>
        </div>
    </div>
    <div class="bui-dialog-close"><i class="icon-close"></i></div>
</div>

@section Footer{
    @Html.AppendJs("~/js/mobile/luckyu-mobile-userselect.js")
    @Html.AppendJs("~/Areas/MobileModule/Views/MWorkflow/Form.js")
}