
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="formbackgroud">
    <div class="layui-row index-header">
        <div class="pull-left">

        </div>

        <div class="pull-right">
            <div class="layui-btn-group">
                <button type="button" id="show" class="layui-btn layui-btn-sm"><i class="fa fa-eye"></i>&nbsp;查看</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table id="grid"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/OAModule/Views/News/ShowIndex.js")
}

